[Unit]
Description=Networld
Requires=network-online.target rpcbind.service
Wants=bindfs-world.service
After=network-online.target rpcbind.service
Before=bindfs-world.service

[Mount]
What=usershare:/mnt/networld/data
Where=/netshare/networld
Type=nfs
Options=defaults,async,acl,nolock,nfsvers=3
StandardOutput=syslog
StandardError=syslog
