polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.RealtimeKit1.") == 0 ||
        action.id.indexOf("org.freedesktop.udisks") == 0) {
        return polkit.Result.YES;
    }
});
