[Unit]
Description=Users
Requires=NetworkManager-wait-online.service NetworkManager.service rpcbind.service
After=NetworkManager-wait-online.service NetworkManager.service rpcbind.service

[Mount]
What=fsusers:/netshare/users
Where=/netshare/users
Type=nfs
Options=defaults,async,acl,nolock,nfsvers=3
StandardOutput=syslog
StandardError=syslog
