[Unit]
Description=Check whether netshare is ready
After=netshare-mount.service network-online.target
Before=bindfs-depts.service

[Service]
Type=oneshot
ExecStart=/srv/check-netshare-ready.sh
RemainAfterExit=yes
TimeoutStartSec=86400

[Install]
WantedBy=multi-user.target
