[Desktop Entry]
Name = LESBG
Comment = A classic login prompt, enlarged for modern screens, with no options.  Converted from classic theme.
Version = 0.1
Author = Jonathan Dieter
Homepage = http://www.lesbg.com
