[Unit]
Description=Mount Netshare via LizardFS
After=syslog.target local-fs.target network-online.target
Wants=bindfs-depts.service
Before=bindfs-depts.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mfsmount -c /etc/mfs/mfsmount-netshare.cfg
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
