[Unit]
Description=Create bindfs mount point for /netshare/networld/usershare/depts
Requires=netshare-mount.service netshare-ready.service
After=netshare-mount.service netshare-ready.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkdir -p /var/tmp/bindfs/depts
ExecStart=/usr/bin/chmod 700 /var/tmp/bindfs
ExecStart=/usr/bin/mount --bind /netshare/networld/usershare/.data/depts /var/tmp/bindfs/depts
ExecStart=/usr/bin/mount --make-private /var/tmp/bindfs/depts
ExecStart=/usr/bin/bindfs -o nonempty -p g=rwX,u=rwX --chgrp-ignore /var/tmp/bindfs/depts /netshare/networld/usershare/.data/depts
ExecStop=/usr/bin/umount -f /var/tmp/bindfs/depts
